.carousel {
  position: relative;
}

.carousel-imgBox {
  position: relative;
  max-width: 70rem;
  margin: auto;
}

.carousel-slide_fade {
  display: none;
}

.carousel-slideImg {
  max-width: 100%;
}

.carousel-descriptionBox {
  margin: auto;
  max-width: 96rem;
  padding: 0 1.5rem;
  text-align: center;
}

.carousel-slideTitle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Josefin', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-slideDescription {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Next & previous buttons */
.carousel-prevSlide,
.carousel-nextSlide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1.6rem;
  margin-top: -3rem;
  color: rgba($white, 0.6);
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(50, 50, 50, 0.1);

  &:hover {
    background-color: rgba(0,0,0,0.8);
  }
}

/* Position the "next button" to the right */
.carousel-nextSlide {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.carousel-projectsList {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.carousel-projectsBox {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.5rem;
}

.carousel-projectItem {
  display: inline-block;
  margin: 0 0.4rem;
  background-color: $lightGrey;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;

  transition: background-color 0.7s ease;
}

.carousel-projectItem_active {
  background-color: $grey;
}






@media only screen and (min-width: 768px) {
  .carousel-slideTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .carousel-slideDescription {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}