$white: #ffffff;
$whiteTransparent: rgba($white, 0.2);

$black: #333333;

$grey: #999999;
$lightGrey: #cccccc;
$greyDark: darken($grey, 30%);


$green: #007a3c;
$greenDark: darken($green, 3%);
$greenDarker: darken($green, 7%);

$blue: #00537a;
$blueDark: darken($blue, 3%);
$blueDarker: darken($blue, 7%);



html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $black;
  font-family: 'roboto', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $blue;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
    color: $black;
    font-family: 'roboto', Arial, sans-serif;
  }
}