.container {
  margin: auto;
  max-width: 96rem;
  padding: 0 1.5rem;
}

.container_relative {
  position: relative;
}

.container-wide {
  max-width: 115rem;
}


@media only screen and (min-width: 768px) {
  .container_contacts {
    max-width: 90%;
  }
}