.mainPage {
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.mainPage_navExpand {
  margin-top: 30rem;
}

.descriptionOfMe {
  text-align: center;
}

.descriptionOfMe-name {
  margin: 0;
  margin-bottom: 2rem; 
  font-size: 5rem;
  font-family: 'Rancho', Arial, sans-serif;
  font-weight: 700;
  line-height: 7rem;
}

.descriptionOfMe-specialization {
  margin: 0;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  font-family: 'roboto', Arial, sans-serif;
  line-height: 3rem;
}

.mainPage-btn {
  margin: 0 0.5rem;
  margin-bottom: 12rem;
}

.mainPage-slogan {
  text-align: right;
}


@media only screen and (min-width: 450px) {
  .descriptionOfMe-name {
    font-size: 7rem;
    line-height: 8rem;
  }

}



@media only screen and (min-width: 768px) {
  .mainPage {
    margin-top: 15rem;
    margin-bottom: 5.5rem;
  }

  .mainPage_navExpand {
    margin-top: 15rem;
  }

  .descriptionOfMe-name {
    margin-bottom: 3rem; 
    font-size: 9rem;
    line-height: 10rem;
  }

  .mainPage-btn {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.7rem 4rem;
  }
}
  
@media only screen and (min-width: 1120px) {
  .mainPage {
    margin-top: 10rem;
  }

  .mainPage-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mainPage-flexbox::before {
    content: url(../../img/mainPage/coffee.png);
  }
}

  
