.projects {
  border-top: 1px solid $lightGrey;
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid #dddddd;
}

@media only screen and (min-width: 768px) {
  .projects {
    padding-bottom: 5.5rem;
  }
}