.skills {
  padding-bottom: 6rem;
}

.skills-list {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: circle;
  margin: auto;
}

.skills-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}




@media only screen and (min-width: 768px) {
  .skills-list {
    padding-left: 3rem;
    max-width: 500px;
    // margin: auto;
  }
}

@media only screen and (min-width: 960px) {
  .skills-list {
    margin: 0;
    padding-left: 1.5rem;
    list-style-type: circle;
    margin: 0;
  }

  .skills-list::before {
    content: " ";
    background-image: url('../../img/skills/books.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    position: absolute;
    top: -2.8rem;
    right: 5rem;
    display: block;
    width: 20rem;
    height: 45rem;
  }
}